anyio==3.6.2; python_full_version >= "3.6.2" and python_version >= "3.7"
certifi==2022.12.7; python_version >= "3.8" and python_version < "4"
charset-normalizer==2.1.1; python_version >= "3.8" and python_version < "4" and python_full_version >= "3.6.0"
click==8.1.3; python_version >= "3.7"
colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.7.0" and platform_system == "Windows" and python_version >= "3.7"
coloredlogs==15.0.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
contourpy==1.0.6; python_version >= "3.8"
cycler==0.11.0; python_version >= "3.8"
fire==0.5.0
flatbuffers==22.12.6
fonttools==4.38.0; python_version >= "3.8"
fst-pso==1.8.1; python_version >= "3.8"
fuzzytm==2.0.5; python_version >= "3.8"
gensim==4.3.0; python_version >= "3.8"
h11==0.14.0; python_version >= "3.7"
httpcore==0.16.3; python_version >= "3.7"
httpx==0.23.2; python_version >= "3.7"
humanfriendly==10.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
idna==3.4; python_version >= "3.8" and python_full_version >= "3.6.2" and python_version < "4"
implicit==0.6.2
joblib==1.2.0; python_version >= "3.8"
kiwisolver==1.4.4; python_version >= "3.8"
matplotlib==3.6.2; python_version >= "3.8"
miniful==0.0.6; python_version >= "3.8"
mlxtend==0.21.0
mpmath==1.2.1; python_version >= "3.8"
mypy-extensions==0.4.3; python_version >= "3.7"
numpy==1.24.1; python_version >= "3.8"
onnx==1.13.0
onnxruntime==1.13.1
packaging==22.0; python_version >= "3.8"
pandas==1.5.2; python_version >= "3.8"
pandera==0.13.4; python_version >= "3.7"
pillow==9.4.0; python_version >= "3.7"
protobuf==3.20.3; python_version >= "3.7"
pydantic==1.10.4; python_version >= "3.7"
pyfume==0.2.25; python_version >= "3.8"
pyparsing==3.0.9; python_full_version >= "3.6.8" and python_version >= "3.8"
pyreadline3==3.4.1; sys_platform == "win32" and python_version >= "3.8" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0")
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
pytz==2022.7; python_version >= "3.8"
requests==2.28.1; python_version >= "3.8" and python_version < "4"
rfc3986==1.5.0; python_version >= "3.7"
scikit-learn==1.2.0; python_version >= "3.8"
scipy==1.9.3; python_version >= "3.8"
setuptools-scm==7.1.0; python_version >= "3.8"
simpful==2.9.0; python_version >= "3.8"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.8"
smart-open==6.3.0; python_version >= "3.8" and python_version < "4.0"
sniffio==1.3.0; python_full_version >= "3.6.2" and python_version >= "3.7"
sympy==1.11.1; python_version >= "3.8"
termcolor==2.1.1; python_version >= "3.7"
threadpoolctl==3.1.0; python_version >= "3.8"
tomli==2.0.1; python_version < "3.11" and python_version >= "3.8"
tqdm==4.64.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
typing-extensions==4.4.0; python_version >= "3.8"
typing-inspect==0.8.0; python_version >= "3.7"
urllib3==1.26.13; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4" or python_version >= "3.8" and python_version < "4" and python_full_version >= "3.6.0"
wrapt==1.14.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
